{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<div class="text-center">
    <h3>
     About this page
      <hr />
    </h3>
</div>
<div class="container p-4">
  <div class="text-center">
    <p class="fst-italic fs-4">Try to learn something about everything and everything about something.</p>
    <p class="fw-light fs-5">- Thomas Huxley</p>
  </div>
  
  <div class="m-5 fs-5">
    <p>This website was created to share knowledge and skills as well as a way to master knowledge and skills, hence the concept of learning paths.</p>

    <p>A learning path should be on a specific topic, it may be summarized in one or two sentences, and it should contain references to the materials needed to complete it, that is, to get to know the topic.</p>

    <p>Learning paths are available to every visitor. Visitors can view the contents of the path, but cannot vote, add paths to favorites, or create new paths.</p>

    <p>The above privileges are available to those who have an account. An account is easy to set up and the only information we collect is an e-mail address and it is not shared with anyone.</p>

    <p>Anyone with an account can add new paths, which, after verifying the content, will be added to those visible under the learning paths. The path is not judged for any reason other than containing illegal content.</p>

    <p>Now come on, share your knowledge.</p>
  </div>
</div>


{% endblock %}