{% extends "layout.html" %} {% block title %} Password change {% endblock %} {%
block main %}
<div class="text-center">
  <h3>
    Password change service
    <hr />
  </h3>
  <p>To change your password, please fill in form below.</p>
  <form class="mb-2" action="/changepassword" method="post">
    <div class="mb-3">
      <input
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto"
        id="old"
        name="old"
        placeholder="Current password"
        type="password"
        maxlength="15"
      />
      {%if passwordError != null%}
      <p class="font-weight-light error">{{passwordError}}</p>
      {%endif%}
    </div>
    <div class="mb-3">
      <input
        autocomplete="off"
        class="form-control mx-auto w-auto"
        id="password"
        name="password"
        placeholder="New password"
        type="password"
        maxlength="15"
      />
    </div>

    <div class="mb-3">
      <input
        autocomplete="off"
        class="form-control mx-auto w-auto"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm new password"
        type="password"
        maxlength="15"
      />
    </div>
    <button class="btn btn-success" id="changebtn" type="submit" disabled>
      Change password
    </button>
    {%if passwordChange%}
    <p class="font-weight-light accActive p-2">{{passwordChange}}</p>
    {%endif%}
  </form>
</div>
<script src="../static/js/changepassword.js"></script>
{% endblock %}
