{% extends "layout.html" %}

{% block title %}
Admin Control Panel
{% endblock %}

{% block main %}
{%if admin%}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="evals-tab"
      data-bs-toggle="tab"
      data-bs-target="#evals"
      type="button"
      role="tab"
      aria-controls="evals"
      aria-selected="true"
    >
      <i class="fa-solid fa-bookmark"></i> For evaluation
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="submissions-tab"
      data-bs-toggle="tab"
      data-bs-target="#submissions"
      type="button"
      role="tab"
      aria-controls="submissions"
      aria-selected="false"
    >
      <i class="fa-solid fa-file-pen"></i> Submissions
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="evals"
    role="tabpanel"
    aria-labelledby="evals-tab"
  >
    {%if evals%}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">UserId</th>
          <th scope="col">Title</th>
          <th scope="col">Rating</th>
          <th scope="col">Excerpt</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        {%for path in evals%}
        <tr>
          <td
            style="cursor: pointer"
            onclick="window.location='./path?id={{path[0][0]}}';"
          >
            {{path[0]}}
          </td>
          <td 
          style="cursor: pointer"
          onclick="window.location='./path?id={{path[0]}}';"
          >{{path[8]}}</td>
          <td
          style="cursor: pointer"
            onclick="window.location='./path?id={{path[0]}}';"
          >{{path[1]}}</td>
          <td
          style="cursor: pointer"
            onclick="window.location='./path?id={{path[0]}}';"
          >{{path[5]}}</td>
          <td
          style="cursor: pointer"
            onclick="window.location='./path?id={{path[0]}}';"
          >{{path[3]}}</td>
          <td><span class="d-inline-block" data-toggle="tooltip" title="Remove bookmark">
            <button
              class="btn btn-primary btn-sm mw-1"
              data-placement="right"
              type="button"
              onclick="removeBookmark('{{path[0]}}')"
            >
            
            <i class="fa-solid fa-bookmark"></i>
            </button></span>
            <span class="d-inline-block" data-toggle="tooltip" title="Remove bookmark">
              <button
                class="btn btn-danger btn-sm mw-1"
                data-placement="right"
                type="button"
                onclick="removeBookmark('{{path[0]}}')"
              >
              
              <i class="fa-solid fa-bookmark"></i>
              </button></span>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%else%}
    <h4 class="text-center pt-5">No evaluations</h4>
    {%endif%}
  </div>
</div>
{%else%}
<div class="text-center">
    <form class="mb-2" action="/controlpanel" method="post">
        <div class="mb-3">
          <input
            class="form-control mx-auto w-auto"
            id="password"
            name="password"
            placeholder="Password"
            type="password"
            maxlength="15"
            autocomplete="off"
          />
          {%if passwordError != null%}
          <p class="font-weight-light error">{{passwordError}}</p>
          {%endif%}
          
        </div>
        <button class="btn btn-success" type="submit">Enter</button>
        
      </form>
</div>
{%endif%}
{% endblock %}