{% extends "layout.html" %} {% block title %} Privacy policy {% endblock %} {%
block main %}
<div>
  <span style="font-size: 18px"><b>PRIVACY NOTICE</b></span
  ><br />
</div>
<div><br /></div>
<ul>
  <li>This site collects username, password and e-mail address.</li>
  <li>Password is encrypted and e-mail is not shared with anyone.</li>
  <li>
    You can review your username and e-mail address under account tab.
  </li>
  <li>
    Under account tab you can also delete your account along with any informations and submissions
    provided previously.
  </li>
</ul>
{% endblock %}
