{% extends "layout.html" %}

{% block title %}
Recover credentials
{% endblock %}

{% block main %}
<div class="text-center">
    <h3>
     Account recovery
      <hr />
    </h3>

{%if success != null%}
<h4>Request accepted, check your mail.</h4>
{%else%}
<p>To recover your account, please provide e-mail with which you registered.</p>
<form class="mb-2" action="/recover" method="post">
  <div class="mb-3">
    <input
      autocomplete="on"
      autofocus
      class="form-control mx-auto w-auto"
      id="email"
      name="email"
      placeholder="your@email.com"
      type="email"
      
    />
    {%if emailError != null%}
    <p class="font-weight-light error">{{emailError}}</p>
    {%endif%}
  </div>
  <button class="btn btn-success" type="submit">Recover</button>
</form></div>
{%endif%}
{% endblock %}